@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,100&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,100&display=swap");

////////////////////    COLORS   /////////////////////////////@at-root

.color-E6007A {
  color: #e6007a !important;
}

.bg-172026 {
  background-color: #172026 !important;
}

.bg-D2067A {
  background-color: #d2067a !important;
}




/////////////////////////////////// TOOGLER ICON COLOR CHANGE COLOR //////////////////////////

.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none !important;
  position: relative;
  border-bottom: 2px solid #000000;
  transition: all 300ms linear;
}
.navbar .navbar-toggler-icon:after,
.navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #000000;
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
}
.navbar .navbar-toggler-icon:after {
  top: 8px;
}

.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg) !important;
}
.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg) !important;
}
.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent !important;
}

/////////////////////////////  Header / Nabvbar ///////////////////////////////////////

.navbar {
  ul {
    li {
      a {
        font-size: 1.2rem;
        font-weight: 400;
        color: #000000;
      }
    }
  }
  .up-nav {
    ul {
      li a {
        color: gray;
        font-weight: bold;
        font-size: 14px;
        &:hover {
          color: #1e1e1e;
        }
      }
    }
    .list-social-links {
      a {
        display: flex;
        border-radius: 50%;
        background: transparent !important;
        border: 1px solid #000000;
        margin: 3px;
      }
      .btn-support {
        border-radius: 20px !important;
        padding: 5px 10px 5px 10px;
        text-decoration: none;
        font-size: 14px;
        color: gray !important;
      }
    }
  }
}

@keyframes run {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

.navbar-below ul {
  li {
    display: inline-block;
    position: relative;
    &:hover:before {
      content: "";
      position: absolute;
      top: -5px;
      background: #e6007a;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      left:calc(50% - 8px);
      animation: linear;
  animation-name: run;
  animation-duration: 0.5s;
  }
    a {
      padding: 0rem 1.3rem 0rem 1.3rem !important;
    }
  }
}
.dropdown-menu-dark {
  li a {
    font-weight: bold !important;
    &:hover {
      color: #e6007a !important;
    }
  }
}

///////////////////////////////  HERO SECTION   //////////////////////////////////////

.btn-subscribe {
  border: solid 1px #e6007a !important;
  font-weight: 700 !important;
  border-radius: 2rem !important;
  font-size: 16px !important;
  color: #e6007a !important;
  padding: 16px 20px !important;
  box-shadow: inset 0 0 0 0 #d80286;
  &:hover {
    box-shadow: inset 400px 0 0 0 #d80286;
    color: #ffffff !important;
    transition: all 1s ease, border 2ms ease;
    transform: translateX(0) scale(1.03);
  }
}

.fixedButton {
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 20px;
}
.roundedFixedBtn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #e6007a;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: translateY(0) scale(1.1);
  }
}

////////////////////////   HERO SECTION /////////////////////////////////

.main-container-image {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
}

.img-dots,
.img-rotation {
  max-width: 450px;
}

@media only screen and (max-width: 600px) {
  .img-dots,
  .img-rotation {
    max-width: 220px;
  }
  .any-typ-block img {
    max-width: 280px;
  }
}

///////////////////////////////////   TRUE ECNOMIC SECTION  /////////////////////////////////@at-root

.underline {
  border-bottom: 2px solid #e6007a;
  color: #000000 !important;
  text-decoration: none;
  color: #000000;
  padding-bottom: 1px;
  &:hover {
    padding-bottom: 2px;
  }
}
.underline-white {
  border-bottom: 2px solid #ffffff;
  text-decoration: none;
  color: #ffffff !important;
  &:hover {
    padding-bottom: 2px;
  }
}

/////////////////////////////// FOUNDED SECTION ///////////////////////////@at-root

// .h-60vh{
//     height: 60vh;
// }
.founded-section {
  background-image: url("https://polkadot.network/assets/img/web3-summit-3.jpg?v=ea608e625d");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
}

//////////////////////////////// TECH ITHUB SEC  /////////////////////////

.top-negative {
  margin-top: -1.5rem !important;
}

//////////////////////////////// PARA CHAIN //////////////////////////

.para-chain-sec {
  .btn-prachain {
    border: solid 1px #ffffff !important;
    font-weight: 700 !important;
    border-radius: 1.5rem !important;
    padding: 10px 20px !important;
    font-size: 16px !important;
    color: #ffffff;
  }
}

///////////////////// technology Connect dot section  /////////////
.connect-dot-sec img {
  width: 130px;
}
////////////////////////////////////////////////////////////////

.example-section .card {
  min-height: 150px !important;
}

//////////////////////////////// TECHNOLOGY ROAD MAP //////////////////////////

.roadmap-section {
  .btn-roadmap {
    border: solid 1px #ffffff !important;
    font-weight: 700 !important;
    border-radius: 1.5rem !important;
    padding: 10px 20px !important;
    font-size: 16px !important;
    color: #ffffff;
    &:hover {
      background-color: #ffffff !important;
      color: #e6007a !important;
    }
  }
}

///////////////////////////////////// SECURITY MODEL SECTION ///////////////////////////////

.security-model-sec {
  img {
    width: 200px;
  }
}

.badge-pink {
  text-decoration: none;
  padding: 0.25em 0.4em;
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  vertical-align: baseline;
  background-color: transparent;
  border: solid 1px #e6007a;
  color: #e6007a;
  border-radius: 5px;
  transition: all 0.2s ease, border 1ms ease;
  transform: scale(0.999);
  &:hover {
    background-color: #e6007a;
    color: #ffffff;
  }
}

//////////////////////////////////////  ABOUT Page  ///////////////////////////@at-root

.about-founded-section {
  background-image: url("https://polkadot.network/assets/img/polkadot-founders.jpg?v=ea608e625d");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-card-section {
  .card {
    min-height: 488px !important;
  }
}

////////////////////////////////////  GET IN TOUCH ////////////////////////////////////@at-root

.get-in-touch-section {
  .text-decoration-none {
    color: #e6007a;
  }
  .card {
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
      transition: 2s;
    }
  }
}

.border-left {
  border-left: 1px solid gray;
}

///////////////////////////// BLOG SECTION BOLGS //////////////////////

.blog-hero-section {
  .card {
    margin-bottom: 25px;
  }
  .page-nav-hover {
    color: #e6007a !important;
    &:hover {
      background-color: #ffe5ff;
    }
  }
}

/////////////////////////////////////BUILD SECTION ///////////////////////////@at-root

.build-tools-section {
  .card {
    height: 120px;
  }
}
/////////////////////////////  Footer Section  ///////////////////////////////////////
.footer-section {
  background-color: #172026 !important;
  ul {
    li {
      list-style: none;
      line-height: 2em;
      a {
        text-decoration: none;
        color: #b7b8bb !important;
      }
    }
  }
  .headering {
    h5 {
      color: #ffffff;
      font-weight: 500;
    }
  }

  .footer-social-icons {
    a {
      border-radius: 50%;
      background: #172026 !important;
      border: 1px solid #fff;
      margin: 5px;
    }
  }
  .footer-logo {
    .footer-logo-img {
      height: 31px;
      max-height: 31px;
    }
  }
}
